.conteudo__principal__cardsContent {
  display: flex;
  flex-direction: column;
  margin-left: 30%;
  margin-top: 150px;
  position: fixed;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  width: 70%;
}

.conteudo__principal__cardsContent__header {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
}


.conteudo__principal__cardsContent__main {
  display: flex;
  height: 100%;
}

.conteudo__principal__cardsContent__using {
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-width: 420px;
  width: 50%;
}

.conteudo__principal__cardsContent__used {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 420px;
  width: 50%;
}