.search-for-talent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-for-talent__open {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 100px 0 16px 0;
}

.search-for-talent__open__content {
  align-items: center;
  background-color: rgba(142, 36, 36, 0.05);
  border-radius: 16px;
  color: #8E2424;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  height: 28px;
  justify-content: center;
  width: 200px;
}

.search-for-talent__title {
  color: #101828;
  display: flex;
  font-size: 36px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -0.02em;
  line-height: 44px;
  margin-bottom: 20px;
}

.search-for-talent__subtitle {
  color: #667085;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  line-height: 30px;
  margin-bottom: 64px;
  width: 100%;
}

.search-for-talent__carousel {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  overflow: hidden;
  width: 80%;
}

.search-for-talent__carousel__slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.search-for-talent__carousel__slider::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.search-for-talent__carousel__slider::-webkit-scrollbar-thumb {
  background: #8E2424;
  border-radius: 10px;
}

.search-for-talent__carousel__slider::-webkit-scrollbar-track {
  background: transparent;
}

.search-for-talent__carousel__slider_buttons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
  width: 100%;
}

.search-for-talent__carousel__slider__buttons__element {
  align-items: center;
  color: #FFFFFF;
  background-color: #8E2424;
  border-radius: 6px;
  display: flex;
  font-size: 18px;
  height: 100%;
  margin-right: 10px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  transition: background-color 400ms;
}

.search-for-talent__carousel__slider__buttons__element:hover {
  background-color: #501515;
}

.search-for-talent__carousel__slider__job-area {
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  border-radius: 6px;
  display: flex;
  flex-shrink: 0;
  height: 300px;
  justify-content: space-around;
  padding: 10px;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
  width: 100%;
}

.search-for-talent__carousel__slider__job-area__element {
  background-color: rgba(142, 36, 36, 0.05);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 28px;
  padding: 10px;
  width: 33%;
}

.search-for-talent__carousel__slider__job-area__element__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.search-for-talent__carousel__slider__job-area__element__job-description { 
  color: #667085;
  font-weight: 500;
  text-align: center;
}

.search-for-talent__carousel__slider__job-area__element__job-description {
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 800px) {
  .search-for-talent__open {
    margin: 40px 0 0 0;
  }

  .search-for-talent__title {
    margin-top: 30px;
    text-align: center;
  }

  .search-for-talent__subtitle {
    text-align: center;
    margin-bottom: 40px;
  }

  .search-for-talent__team-image {
      padding: 0 10px;
  }

  .search-for-talent__carousel__slider__job-area {
    min-height: 150px;
    padding: 0;
    justify-content: center;
  }

  .search-for-talent__carousel__slider__job-area__element {
    background-color: transparent;
    padding: 0;
    height: 100%;
  }

  .search-for-talent__carousel__slider__job-area__element:not(:last-child) {
    border-right: 1px solid rgba(142, 36, 36, 0.10);
  }

  .search-for-talent__carousel__slider__job-area__element__title {
    font-size: 15px;
  }

  .search-for-talent__carousel__slider__job-area__element__job-description {
    flex-direction: column;
    font-size: 15px;
  }
}