.content_gallery_images {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25%;
  width: 75%;
}

.content_gallery_images_item {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: calc(100% / 3);
}

.content_gallery_images_item_description {
  visibility: hidden;
  opacity: 0;
  width: 80%;
  transition: visibility 0s, opacity 1.5s;
}

.content_gallery_images_item:hover .content_gallery_images_item_description {
  visibility: visible;
  opacity: 1;
}

.content_gallery_images_item_description_head_title {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Poppins", Arial, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.content_gallery_images_item_description_title {
  color: #FFFFFF;
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  line-height: 1.4;
  margin-bottom: 30px;
}